* {
    box-sizing: border-box;
}

#showHere {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin: 1rem;
}

#showHere img {
    border-radius: 10px;
}

#mydialog {
    min-width: 300px;
    padding: 0;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    box-shadow: 0 0 10px #aaa;
}

#mydialog div {
    display: grid;
    grid-template-columns: auto 44px;
    background-color: #ddd;
    padding: 5px;
    border-bottom: #aaa 1px solid;
}

#mydialog h2 {
    margin: 0;
    color: #275690;
}

#mydialog button {
    margin: 0;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    box-shadow: 0 0 10px #aaa;
}

#mydialog p {
    padding: 10px;
    color: #375170;
}

::backdrop {
    background-color: rgba(255, 255, 255, 0.75);
}