/* ---------- COLOR SCHEME ----------
    Primary Color: __________;
    Secondary Color: __________;#242938
    Background Color: __________; #005BA7 #F19830 #131626
    Text Color: __________;
    Font Family: "Roboto", sans-serif;
*/

/* ******************** SITE WIDE ******************** */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

:root {
    --background-color-dark: #333;
    --background-color-light: #ccc;
    --background-color-blue: rgb(72 190 245);

    --font-color-light: #ddd;
    --font-color-dark: #3D405B;

    --hover: #FFA600;
    /* --hover-light: #FFA6007F; */
    --hover-light: rgba(72, 190, 245, 0.5);
    --wayFinding: #eee;
}

header,
footer {
    /* background-color: #242938; */
    background-color: #ccc;
    /* color: #f19830; */
}

/* ******************** HAMBURGER ******************** */
header div {
    display: grid;
    grid-template-columns: 44px minmax(216px, auto) 44px;
    /* grid-template-columns: 44px auto 44px; */
    align-items: center;
    padding: 1rem 0 1rem 1rem;
}

header img {
    height: 44px;
    width: auto;
}

header span {
    font-size: x-large;
    padding-left: 1rem;
}

/* ******************** HAMBURGER ******************** */
.hamburger {
    background: none;
    border: none;
    color: var(--font-color-dark);
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hamburger::before {
    content: "\2630";
    font-size: 1.5rem;
}

.hamburger.show::before {
    content: "\00D7";
}

/* ******************** NAVIGATION ******************** */
.navigation {
    display: none;
}

.navigation.show {
    display: block;
}

.navigation ul {
    list-style-type: none;
}

.navigation a {
    text-align: center;
    min-width: 100px;
    display: block;
    padding: .88rem 10px;
    color: var(--font-color-dark);
    text-decoration: none;
    font-size: large;
    border-bottom: solid 1px var(--background-color-light);

    transition: background-color 0.5s ease;
}

.navigation li.current {
    background-color: var(--wayFinding);
}

.navigation a:hover {
    background-color: var(--hover-light);
}

/* ******************** main ******************** */
/* -------------------- HERO -------------------- */
.hero {
    position: relative;
}

.hero img {
    /* margin: 10px; */
    /* padding: 10px; */
    width: 100%;
    height: auto;
}

.key {
    position: absolute;
    bottom: 25px;
    right: 10px;
}

.key a {
    padding: .85rem;
    /* margin-bottom: 2rem; */
    border-radius: 10px;
    /* background-color: #eee; */
    background-color: var(--background-color-blue);
}

/* -------------------- h1 -------------------- */
h1 {
    margin-left: 1rem;
}

/* ******************** HOME CARD ******************** */
.home,
.spotlightMembers {
    display: grid;
    grid-template-columns: 1fr;
    /* grid-template-columns: repeat(auto-fit, minmax(175px, 1fr)); */
    gap: 10px;
    margin: 1rem;
}

.events,
.weather,
.forecast,
.spotlightMembers>section {
    min-height: 220px;
    /* border: 1px solid rgb(0 0 0 / 10%); */
    /* background-color: #eee; */
    background-color: var(--background-color-blue);
    border-radius: 10px;
}

/* background-color: rgb(72, 190, 245); */
.events p,
.weather>div,
.forecast>div {
    background-color: var(--background-color-blue);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 1rem;
    /* background-color: #FFA600; */
}

.home h2 {
    border: 1px solid rgb(0 0 0 / 10%);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #333;
    color: #eee;
    text-align: center;
}

/* -------------------- EVENTS -------------------- */

/* -------------------- CURRENT WEATHER -------------------- */
.weather>div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.weather img {
    max-width: 75px;
    background-color: skyblue;
    border: 1px solid rgb(0 0 0 / 10%);
    border-radius: 15px;
}

.weatherImg {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.weatherInfo {
    /* padding-left: 1rem; */
    font-size: smaller;
}

.weather p {
    margin: 5px 0;
}

.weather #description {
    text-transform: capitalize;
    text-align: center;
}

.weather #temperature {
    font-size: 2rem;
    font-weight: bold;
    /* margin: .3rem 0; */
}

/* -------------------- FORECAST -------------------- */
/* .forecast p {
    font-size: 2rem;
    padding: 1rem;
} */
.forecast>div {
    display: grid;
    /* gap: 5px; */
    padding: 0;
}

.forecast-day {
    display: grid;
    /* grid-template-columns: minmax(45px, 1fr) 1fr 1fr; */
    grid-template-columns: 20% 40% 40%;
    align-items: center;
    justify-items: center;
    padding: 5px;
    /* border: 2px solid rgb(0 0 0 / 10%);
    border-radius: 10px; */
}

.forecast-day img {
    width: 45px;
    height: auto;
    background-color: skyblue;
    border: 1px solid rgb(0 0 0 / 10%);
    border-radius: 8px;
}

/* ******************** Spotlight ******************** */
.spotlightMembers section {
    /* border: 2px dotted red; */
    border-radius: 10px;
}

.spotlightMembers img {
    width: 45px;
    height: auto;
}

/* ******************** Grid/List buttons ******************** */
.listGrid {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.listGrid button {
    padding: .7rem 2rem;
}

/* ******************** CARDS ******************** */
h2 {
    color: #3D405B;
    font-size: larger;
    padding: .5rem;
}

.top {
    display: flex;
    justify-content: center;
    align-items: center;
}

.companyCard section p,
.companyCard section a {
    padding: .5rem 0;
    font-size: small;
    text-decoration: none;
    color: var(--font-color-dark);
}

/* -------------------- GRID* -------------------- */
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
    gap: 10px;
    /* justify-items: center; */
    margin: 10px 16px;
}

/* Hide the third card on small screens */
/* @media only screen and (max-width: 900px) {
    .spotlight>section:nth-child(3) {
        display: none;
    }
} */
.spotlight>section:nth-child(3) {
    display: none;
}

.key a,
.grid a,
.list a {
    text-decoration: none;
    color: black;
}

.grid section {
    /* margin: 0.5rem; */
    padding: 0.5rem;
    background-color: #eee;
    border: 1px solid rgb(0 0 0 / 10%);
    border-radius: 8px;
}

.top img {
    width: 135px;
    height: 135px;
}

.grid .bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid .info {
    display: grid;
    /* text-decoration: none; */
    gap: .25rem;
    justify-items: start;
}

.grid .address::before {
    content: "📍 ";
}

.grid .number::before {
    content: "\01f4de  ";
}

.grid .url::before {
    content: "\01f310   ";
}

/* -------------------- LIST -------------------- */
.list {
    display: grid;
    margin: 1rem 0;
}

.list section {
    display: grid;
    grid-template-columns: 7fr;
    margin: 0 1rem;
    padding: 1rem;
}

.list section:nth-child(even) {
    background-color: #ddd;
}

.list section:nth-child(odd) {
    background-color: #eee;
}

.list img {
    display: none;
    /* width: 72px; */
    /* height: auto; */
}

.list .bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 0 10px; */
}

.list .info {
    display: grid;
    /* text-decoration: none; */
    gap: .25rem;
    justify-items: end;
}

.list .address::after {
    content: " 📍";
}

.list .number::after {
    content: " \01f4de";
}

.list .url::after {
    content: " \01f310";
}

/* ********** FORMS ********** */
.join {
    /* border: 1px dashed red; */
    display: grid;

}

form {
    margin: 1rem;

    label {
        display: block;
        font-size: .8rem;
        color: var(--font-color-dark);
        padding-top: .5rem;
        width: 100%;
    }

    fieldset {
        font-size: .8rem;
        color: var(--font-color-dark);
        margin: 1.5rem 0 .2rem 0;
        max-width: 25rem;
        /* border-bottom: 1px solid #eee; */
        border-radius: 8px;
    }

    input[type=text],
    input[type=tel],
    input[type=email],
    select,
    textarea {
        display: block;
        margin: .1rem 0 1rem 0;
        padding: .3rem;
        border: 1px solid #999;
        border-radius: 4px;
        border-left-width: 5px;
        border-left-color: #555;
        font-size: 1rem;
        color: #3D405B;
        /* width:250px; */
        width: 100%;
    }

    input:required,
    select:required {
        border-left-color: #d70000;
    }

    input:focus,
    select:focus,
    textarea:focus {
        border-left-color: var(--hover);
        outline: none;
    }

    input:required:valid,
    select:required:valid {
        border-left-color: green;
    }

    input[type=submit] {
        /* border: none; */
        text-align: center;
        /* background-color: #3D405B; */
        background-color: var(--background-color-blue);
        /* color: white; */
        /* border: 1px solid var(--background-color-dark); */
        border-radius: 10px;
        padding: .75rem 1.5rem;
        margin: 2rem 0;
        font-size: 1.2rem;
        /* width: 250px;      */
        width: 100%;
    }
}

/* ********** MEMBERSHIP CARDS ********** */

.membership {
    display: grid;
    align-content: start;
    gap: 1rem;
    margin: 1rem;
    /* border: 1px dashed red; */
    text-align: center;

    & div {
        padding: 1rem;
        background-color: #FFA600;
        border: 1px solid var(--background-color-dark);
        border-radius: 8px;
    }

    & p {
        padding: .5rem;
        font-size: 1.2rem;
    }

    & button {
        background-color: var(--background-color-blue);
        padding: .5rem 1rem;
        border-radius: 8px;
    }

    animation: slideUp 2s ease 1 forwards;
}

/* -------------------- MODAL -------------------- */
dialog {
    /* display: block; */
    background-color: var(--background-color-blue);
    /* border-radius: 8px; */


    /* border: 1px solid rgb(0 0 0 / 10%); */
    border: none;
    border-radius: .5rem;
    /* padding: .5rem; */
    margin: auto;
    /* background-color: #fff; */
    box-shadow: 0 0 3rem var(--font-color-dark);
    width: 90%;
    max-width: 600px;

    & h3 {
        /* background-color: var(--hover); */
        padding: 1rem;
    }

    & div div {
        background-color: var(--wayFinding);
        padding: 1rem 0 .5rem 2rem;

        & p {
            padding-bottom: .5rem;

        }
    }

    animation-name: fadeIn;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

::backdrop {
    background-color: rgb(0 0 0 / 50%);
    animation: fadeIn 1s;
}

dialog button {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: .5rem .75rem;
    border: 1px solid rgb(0 0 0 / 10%);
    border-radius: 120px;
    background-color: var(--wayFinding);

    animation: spin 1s linear 15s infinite;
}

/* ********** THANK YOU ********** */
.thankYou {
    padding: 0 0 0 1.5rem;
}

#thankYou {
    max-width: 300px;
    display: grid;
    gap: 1rem;
    background-color: var(--wayFinding);
    border: 1px solid var(--background-color-dark);
    border-radius: 10px;
    margin: 0 1rem;
    padding: 1rem;
}

#thankYou div {
    display: grid;
    /* padding: 0 1rem; */
}

#thankYou p {
    padding: .25rem 0 0 0;
}

/* .thankYouLabel {
    font-size: 2rem;
}

.thankYouResponse {
    font-weight: bold;
} */

.thankYouButton {
    display: grid;
    margin: 2rem 1rem;
    width: 300px;
}

.thankYouButton p {
    padding: .75rem 1.5rem;
    /* padding: 1.5rem; */
    /* margin: 2rem; */
    font-size: 1.2rem;
    text-align: center;
    border-radius: 10px;
    background-color: var(--background-color-blue);
}

.thankYouButton a {
    text-decoration: none;
    color: var(--background-color-dark);
}

/* ******************** FOOTER ******************** */
footer {
    padding: 1rem;
}

.social {
    padding-top: 1rem;
    display: flex;
    justify-content: center;
    column-gap: 8px;
}

.social a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border: var(--background-color-dark) solid 1px;
    border-radius: 8px;

    transition: background-color 0.25s ease;
}

.social img {
    width: 33px;
    height: 33px;
}

.social a:hover {
    background-color: var(--hover-light);
}

.date {
    background-color: var(--background-color-light);
    padding-top: 1rem;
}

footer p {
    padding-bottom: 5px;
    font-size: small;
}

/* ********** @keyframes ********** */

@keyframes slideUp {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

/* @keyframes pulse {

    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.5);
    }
} */