/* ---------- COLOR SCHEME ----------
    Primary Color: __________;
    Secondary Color: __________;#242938
    Background Color: __________; #005BA7 #F19830 #131626
    Text Color: __________;
    Font Family: "Roboto", sans-serif;
*/

/* ******************** SITE WIDE ******************** */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

:root {
    --background-color-dark: #333;
    --background-color-light: #ccc;
    --background-color-blue: rgb(72 190 245);
    --background-color-skyblue: skyblue;

    --font-color-light: #ddd;
    --font-color-dark: #3D405B;

    --border-light: rgb(0 0 0 / 10%);
    --border-dark: #999;

    --hover: #FFA600;
    /* --hover-light: #FFA6007F; */
    --hover-light: rgba(72, 190, 245, 0.5);
    --wayFinding: #ccc;
}

/* ==================== DESERT BACKGROUND ==================== */
body {
    background-color: #f5f0e6;
}

/* ==================== HEADER & NAV ==================== */
header,
footer {
    background-color: var(--background-color-light);
}

header div {
    display: grid;
    grid-template-columns: 44px minmax(216px, auto) 44px;
    align-items: center;
    padding: 1rem 0 1rem 1rem;
}

header img {
    height: 44px;
    width: auto;
}

header span {
    font-size: x-large;
    padding-left: 1rem;
}

/* ******************** HAMBURGER ******************** */
.hamburger {
    background: none;
    border: none;
    color: var(--font-color-dark);
    cursor: pointer;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    font-size: 1.5rem;
}

.hamburger::before {
    content: "\2630";
    font-size: 1.5rem;
}

.hamburger.show::before {
    content: "\00D7";
}

/* ******************** NAVIGATION ******************** */
.navigation {
    display: none;
}

.navigation.show {
    display: block;
}

.navigation ul {
    list-style-type: none;
}

.navigation a {
    text-align: center;
    min-width: 100px;
    display: block;
    padding: .88rem 10px;
    color: var(--font-color-dark);
    text-decoration: none;
    font-size: large;
    border-bottom: solid 1px var(--background-color-light);
    transition: background-color 0.5s ease;
}

.navigation li.current {
    background-color: var(--wayFinding);
}

.navigation a:hover {
    background-color: var(--hover-light);
}

/* ******************** FOOTER ******************** */
footer {
    padding: 1rem;
}

.social {
    padding-top: 1rem;
    display: flex;
    justify-content: center;
    column-gap: 8px;
}

.social a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border: var(--border-light) solid 1px;
    border-radius: 10px;

    transition: background-color 0.25s ease;
}

.social img {
    width: 33px;
    height: 33px;
}

.social a:hover {
    background-color: var(--hover-light);
}

.date {
    background-color: var(--background-color-light);
    padding-top: 1rem;
}

footer p {
    padding-bottom: 5px;
    font-size: small;
}

/* -------------------- h1 -------------------- */
h1 {
    margin-left: 1rem;
}

/* -------------------- h2 -------------------- */
h2 {
    color: var(--font-color-dark);
    /* font-size: larger; */
    padding: .5rem;
    text-align: center;
}

/* -------------------- a -------------------- */
/* .key a,
.grid a,
.list a  */
a {
    text-decoration: none;
    color: black;
}

/* ******************** HOME PAGE ******************** */
/* -------------------- HERO -------------------- */
.hero {
    position: relative;
}

.hero img {
    width: 100%;
    height: auto;
}

.key {
    position: absolute;
    bottom: 25px;
    right: 10px;
}

.key a {
    padding: .85rem;
    border-radius: 10px;
    background-color: var(--background-color-blue);
}

/* ******************** HOME CARD ******************** */
.home {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    margin: 1rem;
}

.home div {
    overflow: hidden;
}

.events,
.weather,
.forecast {
    min-height: 220px;
    background-color: var(--background-color-blue);
    border-radius: 10px;
    animation: fadeIn 1.6s ease forwards;
}

.events p,
.weather>div,
.forecast>div {
    /* background-color: var(--background-color-blue); */
    /* border-bottom-left-radius: 10px; */
    /* border-bottom-right-radius: 10px; */
    padding: 1rem;
}

.home h2 {
    /* border: 1px solid var(--border-light); */
    /* border-top-left-radius: 10px; */
    /* border-top-right-radius: 10px; */
    background-color: var(--background-color-dark);
    color: var(--wayFinding);
    /* text-align: center; */
}

/* -------------------- EVENTS -------------------- */

/* -------------------- CURRENT WEATHER -------------------- */

.weather>div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.8rem;
    /* gap: 15px; */
}

.weather img {
    max-width: 75px;
    background-color: var(--background-color-skyblue);
    border: 1px solid var(--border-light);
    border-radius: 10px;
}

.weatherImg {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.weatherInfo {
    font-size: smaller;
}

.weather p {
    margin: 5px 0;
}

.weather #description {
    text-transform: capitalize;
    text-align: center;
}

.weather #temperature {
    font-size: 2rem;
    font-weight: bold;
}

/* -------------------- FORECAST -------------------- */
.forecast>div {
    display: grid;
    /* padding: 0; */
}

.forecast-day {
    display: grid;
    grid-template-columns: 20% 40% 40%;
    align-items: center;
    /* justify-items: center; */
    padding: 5px 0;
}

.forecast-day img {
    width: 45px;
    height: auto;
    background-color: var(--background-color-skyblue);
    border: 1px solid var(--border-light);
    border-radius: 10px;
}

/* ******************** Spotlight ******************** */
/* check this against  */
.spotlightMembers section {
    border-radius: 10px;
}

.spotlightMembers img {
    width: 45px;
    height: auto;
}

/* ******************** Grid/List buttons ******************** */
.listGrid {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.listGrid button {
    padding: .7rem 2rem;
}

/* ******************** CARDS ******************** */

.top {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .companyCard section p,
.companyCard section a {
    padding: .5rem 0;
    font-size: small;
    text-decoration: none;
    color: var(--font-color-dark);
} */

/* -------------------- GRID* -------------------- */
#cards {
    min-height: 600px;
    animation: fadeIn 1.5s ease forwards;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
    gap: 1rem;
    margin: 10px 16px;
}

/* Hide the third card on small screens */
.spotlight>section:nth-child(3) {
    display: none;
}

.grid section {
    padding: 1rem;
    /* padding: 0.5rem; */
    background-color: var(--wayFinding);
    border: 1px solid var(--border-light);
    border-radius: 10px;
}

.top img {
    width: 135px;
    height: 135px;
}

.grid .bottom {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.grid .info {
    display: grid;
    gap: .25rem;
    justify-items: start;
}

.grid .address::before {
    content: "📍 ";
}

.grid .number::before {
    content: "\01f4de  ";
}

.grid .url::before {
    content: "\01f310   ";
}

/* -------------------- LIST -------------------- */
.list {
    display: grid;
    margin: 1rem 0;
}

.list section {
    display: grid;
    grid-template-columns: 7fr;
    margin: 0 1rem;
    padding: 1rem;
}

.list section:nth-child(even) {
    background-color: var(--font-color-light);
}

.list section:nth-child(odd) {
    background-color: var(--wayFinding);
}

.list img {
    display: none;
}

.list .bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list .info {
    display: grid;
    gap: .25rem;
    justify-items: end;
}

.list .address::after {
    content: " 📍";
}

.list .number::after {
    content: " \01f4de";
}

.list .url::after {
    content: " \01f310";
}

/* ********** FORMS ********** */
.join {
    display: grid;
}

form {
    margin: 1rem;

    label {
        display: block;
        font-size: .8rem;
        color: var(--font-color-dark);
        padding-top: .5rem;
        width: 100%;
    }

    fieldset {
        font-size: .8rem;
        color: var(--font-color-dark);
        margin: 1.5rem 0 .2rem 0;
        max-width: 25rem;
        border-radius: 8px;
    }

    input[type=text],
    input[type=tel],
    input[type=email],
    select,
    textarea {
        display: block;
        margin: .1rem 0 1rem 0;
        padding: .3rem;
        border: 1px solid var(--border-dark);
        border-radius: 4px;
        border-left-width: 5px;
        border-left-color: #555;
        /* border-left-color: #555; */
        font-size: 1rem;
        color: var(--font-color-dark);
        width: 100%;
    }

    input:required,
    select:required {
        border-left-color: #d70000;
    }

    input:focus,
    select:focus,
    textarea:focus {
        border-left-color: var(--hover);
        outline: none;
    }

    input:required:valid,
    select:required:valid {
        border-left-color: green;
    }

    input[type=submit] {
        text-align: center;
        background-color: var(--background-color-blue);
        border-radius: 10px;
        padding: .75rem 1.5rem;
        margin: 2rem 0;
        font-size: 1.2rem;
        width: 100%;
    }
}

/* ********** MEMBERSHIP CARDS ********** */

.membership {
    display: grid;
    align-content: start;
    gap: 1rem;
    margin: 1rem;
    text-align: center;
    animation: slideUp 2s ease 1 forwards;
}

.membership div {
    padding: 1rem;
    background-color: #FFA600;
    border: 1px solid var(--background-color-dark);
    border-radius: 10px;
}

.membership p {
    padding: .5rem;
    font-size: 1.2rem;
}

.membership button {
    background-color: var(--background-color-blue);
    padding: .5rem 1rem;
    border-radius: 10px;
}


/* -------------------- MODAL -------------------- */
dialog {
    background-color: var(--background-color-blue);
    border: none;
    border-radius: 10px;
    margin: auto;
    box-shadow: 0 0 3rem var(--font-color-dark);
    width: 80%;
    max-width: 600px;
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

dialog h3 {
    padding: 1rem;
}

dialog div div {
    background-color: var(--wayFinding);
    padding: 1rem 0 .5rem 2rem;
}

dialog div div p {
    padding-bottom: .5rem;
}

::backdrop {
    background-color: rgb(0 0 0 / 50%);
    animation: fadeIn 1s;
}

dialog button {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: .5rem .75rem;
    border: 1px solid rgb(0 0 0 / 10%);
    border-radius: 18px;
    background-color: var(--wayFinding);
    cursor: pointer;
    animation: spin 1s linear 15s infinite;
}

/* ********** THANK YOU ********** */
.thankYou {
    padding: 0 0 0 1.5rem;
}

#thankYou {
    max-width: 300px;
    min-height: 485px;
    display: grid;
    gap: 1rem;
    background-color: var(--wayFinding);
    border: 1px solid var(--background-color-dark);
    border-radius: 10px;
    margin: 0 1rem;
    padding: 1rem;
}

#thankYou div {
    display: grid;
}

#thankYou p {
    padding: .25rem 0 0 0;
}

.thankYouButton {
    display: grid;
    margin: 2rem 1rem;
    width: 300px;
}

.thankYouButton p {
    padding: .75rem 1.5rem;
    font-size: 1.2rem;
    text-align: center;
    border-radius: 10px;
    background-color: var(--background-color-blue);
}

.thankYouButton a {
    text-decoration: none;
    color: var(--background-color-dark);
}

/* ******************** DISCOVERY ******************** */
#allPlaces {
    min-height: 500px;
}

#allPlaces>div {
    margin: 1rem;
    background-color: rgb(72, 190, 245);
    /* background-color: #fffef9; */
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    overflow: hidden;
    display: grid;
    grid-template-areas:
        "name"
        "photo"
        "desc"
        "location"
        "learn";
    animation: fadeIn 1.6s ease forwards;
}

#allPlaces div h2 {
    margin: 1rem 10px;
    grid-area: name;
}

#allPlaces div figure {
    display: flex;
    justify-content: center;
    grid-area: photo;
}

#allPlaces div figure img {
    width: 100%;
    width: 300px;
    height: auto;
    box-shadow: 0 0 50px #333;
}

#allPlaces div p {
    margin: 1rem 10px;
    grid-area: desc;
}

#allPlaces div address {
    margin: 1rem 10px;
    grid-area: location;
}

#allPlaces div button {
    margin: 1rem 10px;
    grid-area: learn;
    padding: .8rem;
    border-radius: 10px;
    border: 1px solid rgb(0 0 0 / 50%);
    cursor: pointer;
    transition: all 0.3s ease;
}

#allPlaces button:hover {
    background-color: var(--hover);
    transform: scale(1.04);
}

.lastVisit {
    text-align: center;
    padding: 0 0 1rem 0;
    margin: 0 1.1rem;
    font-size: 1.5rem;
}

/* ********** @keyframes ********** */

@keyframes slideUp {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}