@media only screen and (min-width: 56rem) {

    /* 56rem == 896px */
    .home {
        grid-template-columns: repeat(4, 1fr);
    }

    .events {
        grid-column: span 2;
    }

    .weather img {
        width: 75px;
        border-radius: 5px;
    }

    .weather>div {
        align-items: flex-start;
    }
}