@media only screen and (min-width: 38rem) {

    /* 38rem == 608px */
    header div,
    main,
    nav,
    footer section {
        max-width: 900px;
        margin: 0 auto;
    }

    header {
        grid-template-columns: 107px auto;
    }

    .hamburger {
        display: none;
    }

    /* ******************** NAVIGATION ******************** */
    .navigation {
        display: block;
        padding-left: 10px;
        border-bottom: solid 1px #eee;
    }

    .navigation ul {
        display: flex;
    }

    .navigation a {
        border: none;
    }
}