@media only screen and (min-width: 35rem) {

    /* 38rem == 608px */
    /* 35rem == 560px */
    header div,
    main,
    nav,
    footer>div {
        max-width: 1200px;
        margin: 0 auto;
    }

    header {
        grid-template-columns: 107px auto;
    }

    .hamburger {
        display: none;
    }

    /* ******************** NAVIGATION ******************** */
    .navigation {
        display: block;
        /* padding-left: 10px; */
        border-bottom: solid 1px #eee;
    }

    .navigation ul {
        display: flex;
    }

    .navigation a {
        border: none;
    }

    .home {
        grid-template-columns: 1fr 1fr;
    }

    /* ******************** MAIN ******************** */
    /* -------------------- HERO -------------------- */
    .key {
        bottom: 20px;
        right: 20px;
    }

    .events {
        grid-column: span 2;
    }

    /* ******************** FOOTER ******************** */
    footer>div {
        display: flex;
        justify-content: space-between;
        gap: 10px;
        align-items: center;
        padding: 0 1rem;
    }

    .social {
        padding: 0;
    }
}