@media only screen and (min-width: 35rem) {

    /* 38rem == 608px */
    /* 35rem == 560px */
    header div,
    main,
    nav,
    footer>div {
        max-width: 1200px;
        margin: 0 auto;
    }

    header {
        grid-template-columns: 107px auto;
    }

    .hamburger {
        display: none;
    }

    /* ******************** NAVIGATION ******************** */
    .navigation {
        display: block;
        /* padding-left: 10px; */
        border-bottom: solid 1px #eee;
    }

    .navigation ul {
        display: flex;
    }

    .navigation a {
        border: none;
    }

    .home {
        grid-template-columns: 1fr 1fr;
    }

    /* ******************** MAIN ******************** */
    /* -------------------- HERO -------------------- */
    .key {
        bottom: 35px;
        right: 20px;
    }

    .events {
        grid-column: span 2;
    }

    /* ******************** JOIN ******************** */
    .join {
        /* display: grid; */
        grid-template-columns: 1fr 1fr;

    }

    /* ******************** FUN ******************** */
    #allPlaces div {

        grid-template-areas:
            "photo name"
            "photo desc"
            /* "photo location" */
            "learn location"
        ;

    }

    #allPlaces div figure {
        display: block;
    }

    #allPlaces div figure img {
        width: 300px;
        /* height: 200px; */
        transition: all 1s ease-in 100ms;
        /* transition-property: all; */
        /* transition-duration: 2s; */
        /* transition-timing-function: ease-in; */
        /* transition-delay: 100ms; */
    }

    #allPlaces div img:hover {
        /* width: 110%; */
        border-radius: 15px 150px;
        /* opacity: 0.5; */
        /* filter: blur(4px); */
        /* filter: blur(1px) grayscale(50%); */
        /* filter: contrast(50%); */
        /* transform: scaleX(-1); */
    }

    /* ******************** FOOTER ******************** */
    footer>div {
        display: flex;
        justify-content: space-between;
        gap: 10px;
        align-items: center;
        padding: 0 1rem;
    }

    .social {
        padding: 0;
    }

    @keyframes jump {
        0% {}
    }
}