/* ---------- COLOR SCHEME ----------
    terra cotta #E07A5F
    deep slate blue #3D405B 
    cheese orange #FFA600
        */

/* ******************** SITE WIDE ******************** */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Josefin Sans", sans-serif;
    box-sizing: border-box;
}

:root {
    --background-color-dark: #333;
    --background-color-light: #ccc;

    --font-color-light: #ddd;
    --font-color-dark: #3D405B;

    --hover: #FFA600;
    --hover-light: #FFA6007F;
    --wayfinding: #eee;
}


/* ******************** HEADER ******************** */
header {
    display: grid;
    grid-template-columns: 24px auto 44px;
    padding: 5px 0 5px 10px;
    align-items: end;
    border-bottom: solid 1px var(--background-color-light);
    column-gap: 8px;
}

header img {
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 5px;
}

header span {
    font-size: 1.2rem;
    color: var(--font-color-dark);
}

/* ******************** HAMBURGER ******************** */
.hamburger {
    background: none;
    border: none;
    color: var(--font-color-dark);
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hamburger::before {
    content: "\2630";
    font-size: 1.5rem;
}

.hamburger.show::before {
    content: "\00D7";
}

/* ******************** NAVIGATION ******************** */
.navigation {
    display: none;
}

.navigation.show {
    display: block;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation a {
    display: block;
    padding: .82rem 10px;
    color: var(--font-color-dark);
    text-decoration: none;
    border-bottom: solid 1px var(--background-color-light);
}

.navigation li.current {
    background-color: var(--wayfinding);
}

.navigation a:hover {
    background-color: var(--hover-light);
}

/* ******************** MAIN ******************** */
main {
    display: grid;
}

h1,
section {
    margin: 10px;
}

h2 {
    margin: 0;
    padding: 1rem 0;
    display: grid;
    justify-items: center;
    background-color: var(--background-color-dark);
    color: var(--font-color-light);
}

.about p {
    margin: 0;
    padding: 10px;
    background-color: var(--background-color-light);
}

.photo div {
    padding: 15px;
    background-color: var(--background-color-light);
    display: flex;
    justify-content: center;
}

.photo img {
    width: 100%;
    max-width: 417px;
    height: auto;
    border-radius: 8px;
}


.certificate p {
    font-size: 1rem;
    padding: 10px;
    text-align: center;
}

.course-button {
    font-size: 1.5rem;
    padding: 10px;
    display: grid;
    grid-auto-flow: column;
    column-gap: 10px;
}

.course-button button {
    background-color: var(--background-color-light);
    border-radius: 8px;
    padding: .5rem;
}

.course-button button:hover {
    cursor: pointer;
}

.course-grid {
    display: grid;
    row-gap: 10px;
}

.course-grid button {
    padding: .82rem;
    background-color: var(--background-color-light);
    border: none;
    border-radius: 4px;
}

.certificate span {
    font-size: small;
}

/* ******************** FOOTER ******************** */
footer {
    text-align: center;
}

.social {
    padding-bottom: 1rem;
    display: flex;
    justify-content: center;
    column-gap: 8px;
}

.social a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border: var(--background-color-light) solid 1px;
    border-radius: 4px;
}

.social img {
    width: 33px;
    height: 33px;
}

.social a:hover {
    background-color: var(--hover-light);
}

.date {
    background-color: var(--background-color-light);
    padding: 1rem 0;
    margin: 0;
}