/* ******************** SITE WIDE ******************** */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

/* Complementary Palette */
:root {
    /* Primary Colors */
    --primary-0: #664d00;
    --primary-100: #cc9900;
    --primary-200: #ffcc33;
    --primary-300: #ffe699;
    --primary-400: #fff2cc;

    /* Secondary Colors */
    --secondary-0: #001a66;
    --secondary-100: #0033cc;
    --secondary-200: #3366ff;
    --secondary-300: #99b3ff;
    --secondary-400: #ccd9ff;

    /* Accent Colors */
    --accent-0: #21570f;
    --accent-100: #42ad1f;
    --accent-200: #75e052;
    --accent-300: #baf0a8;
    --accent-400: #ddf7d4;

    /* Neutral Colors */
    --neutral-0: #17191c;
    --neutral-100: #3c4048;
    --neutral-200: #6b7280;
    --neutral-300: #a0a6b0;
    --neutral-400: #d8dadf;

    /* Color Schema */
    --cheese-yellow: #FFCC33;
    --cream: #F8F1E3;
    --earth-brown: #5C3311;
    --fresh-green: #6B8E23;
    --text-dark: #2C2C2C;

    /* USED NAMES */
    /* --earth-brown: #5C3311; */
    --background-dark: #5c3311;
    /* --cream: #F8F1E3; */
    --background-light: #F8F1E3;
    --background-cheese: #FFCC33;

    --border-dark: #6b7280;
    --border-dark-full: 1px solid #6b7280;
    --border-light: #d8dadf;
    --border-light-full: 1px solid #d8dadf;

    /* --text-dark: #2C2C2C; */
    --font-dark: #2C2C2C;
    /* --cream: #F8F1E3; */
    --font-light: #F8F1E3;

    --wayFinding: #ffe699;
    /* --cheese-yellow: #FFCC33; */
    --hover-light: #ffcc33;

    --box-shadow: 0 6px 20px rgba(0, 0, 0, 0.5);
    --box-shadow2: 0 0 50px #333;

    /* --earth-brown: #5C3311; */
    --backdrop-dark: #5c3311cc;
    /* --cream: #F8F1E3; */
    --backdrop-light: #F8F1E3cc;
    /* --fresh-green: #6B8E23; */
    --backdrop-lightGreen: #6b8e23bb;
}

/* ====================  BACKGROUND ==================== */
body,
nav {
    background-color: var(--background-light);
}

header,
footer {
    background-color: black;
    background: linear-gradient(to right,
            var(--earth-brown) 60%,
            /* var(--primary-100)90%, */
            var(--accent-0) 100%);
    /* background: linear-gradient(to right, var(--earth-brown) 60%, var(--cheese-yellow)90%, var(--fresh-green) 100%); */
    color: var(--cream);
    /* text-align: center; */
}

h1,
h2,
h3 {
    font-family: 'Playfair Display', Georgia, serif;
    /* color: var(--cream); */
    margin: 0.75rem;
}

a {
    text-decoration: none;
    color: var(--font-dark);
}

/* ==================== HEADER & NAV ==================== */
/* header,
footer {
    background-color: var(--background-light);
} */

header div {
    display: grid;
    /* grid-template-columns: 44px minmax(216px, auto) 44px; */
    grid-template-columns: 44px auto 44px;
    align-items: center;
    padding: 0.5rem 0.75rem 0.5rem 0.75rem;
    gap: .5rem;
}

header img {
    display: block;
    height: 44px;
    width: auto;
}

header span {
    font-size: x-large;
    font-family: 'Playfair Display', Georgia, serif;
    /* color: var(--cream); */
    /* padding-left: 1rem; */
}

/* ******************** HAMBURGER ******************** */
.hamburger {
    background: none;
    border: none;
    /* Check */
    color: var(--font-dark);
    cursor: pointer;
    /* font-size: 2rem; */
}

.hamburger::before {
    content: "\2630";
    font-size: 2.4rem;
}

.hamburger.show::before {
    font-size: 2.4rem;
    content: "\00D7";
}

/* ******************** NAVIGATION ******************** */
.navigation {
    display: none;
}

.navigation.show {
    display: block;
    /* background-color: white; */
}

.navigation ul {
    list-style-type: none;
}

.navigation a {
    text-align: center;
    display: block;
    padding: .75rem 0.75rem;
    /* color: var(--font-dark); */
    /* text-decoration: none; */
    font-size: large;
    border-bottom: solid 1px var(--border-light);
    transition: background-color 0.5s ease;
}

.navigation li.current {
    background-color: var(--wayFinding);
    color: var(--font-dark);
}

.social a:hover,
.navigation a:hover {
    background-color: var(--hover-light);
}

/* ******************** FOOTER ******************** */
footer>div {
    padding: 0.75rem;
    /* text-align: center; */
    display: grid;
    justify-items: center;
}

.video,
.social,
.date {
    /* background-color: var(--background-dark); */
    padding: 0.75rem;
}

.social {
    display: flex;
    justify-content: center;
    column-gap: 0.75rem;
}

.social a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border: var(--border-light) solid 1px;
    background-color: var(--background-light);
    border-radius: 10px;
    transition: background-color 0.25s ease;
}

.social img {
    width: 33px;
    height: 33px;
}

footer p {
    padding: 5px;
    font-size: small;
}

/* ==================== HOME ==================== */
/* *************** HERO *************** */
.hero {
    position: relative;
}

.hero img {
    width: 100%;
    height: auto;
}

.key {
    position: absolute;
    bottom: 25px;
    right: 10px;
}

.video a,
.key a {
    padding: .85rem;
    border: var(--border-light-full);
    border-radius: 0.75rem;
    background-color: var(--background-cheese);
    box-shadow: var(--box-shadow);
    transition: all 0.5s ease;
}

.video a:hover,
.key a:hover {
    background-color: var(--backdrop-dark);
    color: var(--font-light);
}

/* *************** WELCOME *************** */
.cards {
    margin: 0.75rem;
    display: grid;
    gap: 0.75rem;
}

/* ---------- HOMEPAGE CARDS ---------- */
.homeCard {
    /* background-color: var(--background-dark); */
    /* color: var(--font-light); */
    background-color: var(--background-cheese);
    color: var(--font-dark);
    border: var(--border-dark-full);
    border-radius: 0.75rem;
    box-shadow: var(--box-shadow);
    /* margin: 0.75rem; */
    overflow: hidden;
    animation: fadeIn 0.6s ease forwards;
}

.homeCard h2,
.homeCard p {
    padding: 0.75rem;
    margin: 0rem;
}

.homeCard h2 {
    /* margin: 0; */
    background-color: var(--background-dark);
    color: var(--font-light);
    text-align: center;
}

/* ----- Welcome ----- */


/* ==================== PRODUCTS ==================== */
/* ----- BUTTONS ----- */
.cheeseChoice>h2 {
    text-align: center;
    padding: 1.5rem;
}


.cheeseButton {
    margin: 1rem .75rem 2rem 0.75rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: .75rem;
}

.cheeseButton button {
    padding: 0.82rem 1rem;
    width: 100%;
    background-color: var(--background-dark);
    color: var(--font-light);
    border: 1px solid var(--border-dark-full);
    border-radius: .75rem;
    box-shadow: var(--box-shadow);
}

.cheeseButton button:hover {
    cursor: pointer;
    background-color: var(--background-cheese);
    color: var(--font-dark);
    font-weight: bold;
}

button.cheeseSelected {
    background-color: var(--wayFinding);
    color: var(--font-dark);
}

/* ==================== CHEESE CARDS ==================== */
#cards {
    min-height: 600px;
    display: grid;
    gap: 0.75rem;
    margin: 0.75rem;
}

.cheeseCard {
    border: 1px solid var(--border-dark);
    border-radius: 1rem;
    overflow: hidden;
    background-color: var(--background-dark);
    box-shadow: var(--box-shadow);
    color: var(--font-light);

    display: grid;
    grid-template-areas:
        "name"
        "image"
        "desc"
        "flavor"
    ;
    animation: fadeIn 0.6s ease forwards;
    transition: all 0.5s ease;
}

.cheeseCard:hover {
    transform: scale(1.03);
    filter: brightness(1.1);
    cursor: pointer;
}

.cheeseCard h2 {
    grid-area: name;
    text-align: center;
    padding: 1rem;
}

.cheeseCard img {
    grid-area: image;
    width: 100%;
    height: auto;
}

p.description {
    grid-area: desc;
    padding: 1rem;
    display: none;
}

p.flavor {
    grid-area: flavor;
    padding: 1rem;
    display: none;
}

/* cheese card modal */
::backdrop {
    background-color: var(--backdrop-light);
    animation: fadeIn 1s ease;
}

dialog {
    margin: auto;
    width: 90%;
    max-width: 600px;
    border: var(--border-dark-full);
    border-radius: 1rem;
    background-color: var(--fresh-green);
    box-shadow: 0 0 3rem;
}

dialog h2 {
    background-color: var(--background-dark);
    color: var(--font-light);
    text-align: center;
    padding: 1rem;
    margin: 0;
}

dialog button {
    position: absolute;
    top: 13px;
    right: 13px;
    padding: .5rem .75rem;
    border: 1px solid rgb(0 0 0 / 10%);
    border-radius: 18px;
    background-color: var(--wayFinding);
    cursor: pointer;
    animation: spin 1s linear 15s infinite;
}

dialog p {
    margin: .75rem;
    font-size: 1.2rem;
}

/* --------------- FORMS --------------- */
/* FORM */
.forms {
    /* display: flex; */
    /* flex-direction: column; */
    display: grid;
    gap: .75rem;
    margin: 0.75rem;
}

form label {
    display: block;
    font-size: .8rem;
    color: var(--font-dark);
    padding: .5rem 0;
    width: 100%;
}

fieldset {
    font-size: .8rem;
    color: var(--font-color-dark);
    margin: 1rem 0 .5rem 0;
    max-width: 25rem;
    border-radius: 8px;
}

form input[type=text],
form input[type=email],
/* form select, */
form textarea {
    display: block;
    margin: .1rem 0 1rem 0;
    padding: .8rem;
    border: 1px solid var(--border-dark);
    border-radius: .75rem;
    border-left-width: .75rem;
    border-left-color: #555;
    font-size: 1rem;
    color: var(--font-color-dark);
    width: 100%;
}

form input:required,
form textarea:required,
form select:required {
    border-left-color: #d70000;
}

form input:focus,
form select:focus,
form textarea:focus {
    border-left-color: var(--hover-light);
    outline: none;
}

form input:required:valid,
form textarea:required:valid,
form select:required:valid {
    border-left-color: green;
}

form input[type=submit] {
    text-align: center;
    background-color: var(--backdrop-lightGreen);
    border-radius: .75rem;
    padding: .75rem 1.5rem;
    margin: 2rem 0;
    font-size: 1.2rem;
    width: 100%;
}

div.no-show {
    display: none;
}

/* NEXT MARKET IMG */
.market {
    display: flex;
    justify-content: center;
    padding-bottom: 2rem;
}

.market img {
    width: 100%;
    height: auto;
    max-width: 386px;
    /* background-color: var(--background-dark); */
    /* border-radius: 1rem; */
}

/* ********** THANK YOU ********** */
/* .thankYou { */
/* padding: 0 0 0 0.75rem; */
/* } */

#thankYou {
    max-width: 400px;
    /* min-height: 485px; */
    display: grid;
    gap: 1rem;
    background-color: var(--wayFinding);
    border: 1px solid var(--border-dark);
    border-radius: 10px;
    margin: 0 0.75rem;
    padding: 0.75rem;
}

#thankYou h3 {
    margin: 0;
}

#thankYou div {
    display: grid;
}

#thankYou p {
    padding: .25rem 0 0 0;
}

/* Thank You BUTTON */
.thankYouButton {
    display: grid;
    margin: 2rem 1rem;
    max-width: 400px;
}

.thankYouButton p {
    padding: .75rem 1.5rem;
    font-size: 1.2rem;
    text-align: center;
    border: var(--border-dark-full);
    border-radius: 10px;
    background-color: var(--backdrop-lightGreen);
}

.thankYouButton a {
    color: var(--background-color-dark);
}

/* ******************** @keyframes ******************** */

@keyframes slideUp {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}