@media only screen and (min-width: 57rem) {

    /* 75rem == 1200px */
    /* 56rem ==  896px*/
    /* 57rem ==  912px*/
    /* 38rem == 608px */
    /* 35rem == 560px */

    /* ==================== CHEESE CARDS ====================*/
    #cards {
        grid-template-columns: 1fr 1fr;
    }

    .cheeseCard {
        /* grid-template-columns: 200px 1fr; */
        grid-template-areas:
            /* "name"
            "image"
            "desc"
            "flavor" */
            "name name name"
            "image desc desc"
            "image flavor flavor"

    }

    .cheeseCard img {
        max-width: none;
        padding-left: 1rem;
        padding-bottom: 1rem;
    }

    /* p.description {
        display: none;
    } */
}