@media only screen and (min-width: 38rem) {
    /* 38rem == 608px */
    /* 35rem == 560px */

    header div,
    main,
    nav,
    footer>div {
        /* 75rem == 1200px */
        max-width: 75rem;
        margin: 0 auto;
    }

    /* ******************** NAVIGATION ******************** */
    header {
        grid-template-columns: 44px auto;
    }

    .hamburger {
        display: none;
    }

    .navigation {
        display: block;
    }

    .navigation ul {
        display: flex;
        /* justify-content: end; */
    }

    .navigation a {
        /* min-width: 100px; */
        border: none;
    }

    /* ==================== PRODUCTS ==================== */
    /* ----- BUTTONS ----- */
    .cheeseButton {
        flex-wrap: nowrap;
    }

    /* ==================== CHEESE CARDS ====================*/
    .cheeseCard {
        grid-template-areas:
            "image name"
            "image desc"
            " image flavor"
        ;
    }

    .cheeseCard img {
        /* max-width: 300px; */
        width: 300px;
    }

    p.description {
        display: block;
    }

    p.flavor {
        display: block;
    }

    /* ====================  FORMS ==================== */
    .pre-forms {
        grid-template-columns: 1fr;
    }

    .forms {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .forms div {
        min-width: 280px;
        max-width: 35rem;

    }

    .market img {
        /* width: 100%; */
        height: auto;
        /* border-radius: 1rem; */
        /* justify-content: center; */
    }
}