@media only screen and (min-width: 35rem) {
    /* 38rem == 608px */
    /* 35rem == 560px */

    header div,
    main,
    nav,
    footer>div {
        /* 75rem == 1200px */
        max-width: 35rem;
        margin: 0 auto;
    }

    header {
        grid-template-columns: 44px auto;
    }

    .hamburger {
        display: none;
    }

    .navigation {
        display: block;
    }

    .navigation ul {
        display: flex;
        /* justify-content: end; */
    }

    .navigation a {
        /* min-width: 100px; */
        border: none;
    }

}